
.submit {
  border: solid 1px #ddd;
  background-color: #4E944E;
  color: white;
  padding: 12px;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  margin: 14px 0px;
  display: inline-block;
  float: right;
}

.courses-form select {
  background-color: #000000;
}

