
<sidebar id="left-sidebar-nav"></sidebar>

<section id="content">
  <div class="container">
    <div class="content">
      <div class="conowtainer content">
        <div class="row">

          <div class="card col s12 m12 l10 offset-l1">
            <h2>
              記憶の強さ
              <span class="current-memory">現在:
                {{currentMemoryRate()}} % 忘却
              </span>
            </h2>
            <div class="current-memory"> 理想の復習タイミング
                {{formatDate(targetDate, 'YYYY年MM月DD日') }}
            </div>

            <div id="chart-container">
              <canvas id="lineChartCanvas" height="450" width="600"></canvas>
            </div>
          </div>

          <div class="card col s12 m12 l10 offset-l1">
            <h2>
              問題の正解確率
              <span class="current-memory">
                難易度: {{difficultyStr()}} / 5
              </span>
            </h2>

            <div id="rres-chart-container">
              <canvas id="RresChartCanvas" height="450" width="600"></canvas>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- END CONTENT -->
<right-sidebar id="right-sidebar-nav"></right-sidebar>
