<sidebar id="left-sidebar-nav"></sidebar>

<section id="content">
  <div class="container">
    <div class="content">
      <div class="container content">
        <div class="form">
          <h2>新規コース作成</h2>
          <courses-form
            [course]="course"
            [popup]="popup"
          ></courses-form>
          <!--<button class="submit" (click)=postCreateCourse()>コースを作成する</button>-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END CONTENT -->
<right-sidebar id="right-sidebar-nav"></right-sidebar>
