<sidebar id="left-sidebar-nav"></sidebar>

<section id="content">
  <div class="container">
    <div class="content">
      <div class="container content">
        <div class="form">
          <h1> {{course.name}} 質問作成フォーム
          </h1>
          <div class="question_form" *ngIf="question">
            <!--<question-form [question]="question" *ngIf="question.index==selectedIndex"></question-form>-->
            <!-- TODO: なんか似たよーな引数渡してるけど大丈夫？？ -->
            <question-form [question]="question"
                           [ngClass]="{active: true}"
                           (startLoading)="true"
                           (endLoading)="true"
                           (activate)="true">
            </question-form>

          </div>
          <!--<button-->
            <!--class="submit"-->
            <!--(click)=postAddQuestion()-->
            <!--angulartics2On="click"-->
            <!--angularticsEvent="SubmitAddQuestion"-->
            <!--angularticsCategory="add question"-->
          <!--&gt;新規質問作成する</button>-->
        </div>
      </div>
    </div>
  </div>
</section>

<right-sidebar id="right-sidebar-nav"></right-sidebar>