<div id="loading_curtain"></div>

<div class="signup">
  <div class="p-container">
    <h1 class="str-u-text-center"></h1>
    <p class="str-u-text-center str-u-m20-b p-description">ユーザー登録</p>
    <form class="str-form" id="signup-form">
      <div class="str-form-group">
        <input type="email" [(ngModel)]="email" name="email" placeholder="メールアドレス" />
      </div>
      <div class="str-form-group">
        <input type="password" [(ngModel)]="password" name="password" placeholder="パスワード" />
      </div>
      <div class="str-form-group">
        <input type="password" [(ngModel)]="password_confirmation" name="password_confirmation" placeholder="確認用パスワード" />
      </div>
      <div class="str-form-group">
        <button type='submit'
                angulartics2On="click"
                angularticsEvent="SignupClick"
                angularticsCategory="signup"
                class="str-btn str-btn-block str-btn-cuxino"
        >登録</button>
      </div>
    </form>
    <div>
      <a routerLink="/login" routerLinkActive="active">ログイン</a>
    </div>
    <div>
      <a href="http://stoq.jp">StoQとは？</a>
    </div>
  </div>
</div>
