.modal-header{
  padding: 8px 24px;
  font-size: 1.6em;
}

#modal4 {
  h1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

img{
  max-width: 95%;
  max-height: 95%;
}

.img-container {
  height: 90%;
  display: block;
  margin: auto;
}

#modal5{
  height: 80%;
  .modal-content{
    height:100%;
  }
}

